@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}



.background {
    width: 100%;
    height: 200px;
    background-image: url(./bg-mobile-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.starting-div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
}

.starting-div img {
    margin-top: -5px;
}

.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 7px;
    color: white;
}

.textarea-div {
    height: 48px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px ;
    margin-top: -100px;
    display: flex;
    align-items: center;
}

.write {
    width: 90%;
    margin-left: 10px;
    border: none;
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: -0.1666666716337204px;
text-align: left;
margin-top: 2px;
background-color: transparent;
}

.write:focus {
    outline: none;
}

.before-check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}

.before-check img {
    position: absolute;
    left: 0;
    width: 20px;
    z-index: 100000;
    pointer-events: none;
    width: 12px;
    height: 12px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.textarea-div-check {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 50%;
}

.textarea-div-check:checked {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    border: none;
}

.textarea-div-check:checked + .checkicon {
    display: block;
}

li {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E3E4F1;
    margin-bottom: 10px;
    position: relative;
    transition: 0.4s;
}

.div-for-ul {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 35px 50px -15px #C2C3D680;

}

li p {
    margin-left: 10px;
    word-break: break-all;
}

li .before-check {
    margin-left: 0;
   
}

ul {
    width: 100%;
}

.items-left {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 0 auto;
   box-shadow: 0px 35px 50px -15px #C2C3D680;

}

button {
    border: none;
    background-color: transparent;
}

.deleteIcon {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
}

.selection {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 35px 50px -5px #C2C3D680;
    display: flex;
    border-radius: 10px;
    height: 48px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.moon {
    display: none;
}

.selection {
    color: #9495A5;
}

.selectionone {
    display: none;
}

li {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.deleteIcon:hover{
opacity: 0.3;
transition: 0.2s;
}

.selection p{
    cursor: pointer;
}

.selectionone p {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.leftover {
    cursor: pointer;
}

@media only screen and (min-width: 920px) {
    
    .background {
        height: 300px;
        background-image: url(/bg-desktop-light.jpg);
    }

    .textarea-div {
        width: 540px;
    }

    .div-for-ul {
        width: 540px;
    }

    .starting-div {
        width: 540px;
    }

    .selection {
        display: none;
    }
    
    .selectionone {
        display: block;
        display: flex;
        width: 200px;
        justify-content: space-between;
    }

    .deleteIcon {
        display: none;
    }

    li:hover .deleteIcon {
        display: block;
    }

   

  }